---
import chevronLeft from "../../assets/chevron-left.svg";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Prose from "../../components/Prose.astro";
import { resolveProjectImage } from "../../components/Projects/resolveProjectImage";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map(entry => ({
    params: { slug: entry.slug },
    props: { entry }
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const { title, tagLine } = entry.data;

const projectImgSrcPromise = resolveProjectImage(entry.slug);
---

<BaseLayout title={title} description={tagLine}>
  <a href="/projects" class="back">
    <img src={chevronLeft.src} alt="" />
    My Projects
  </a>

  <div class="details">
    {projectImgSrcPromise && <Image src={projectImgSrcPromise} alt="" />}
    <h1>{entry.data.title}</h1>
    <p class="tagline">{tagLine}</p>
  </div>

  <Prose>
    <Content />
  </Prose>
</BaseLayout>

<style>
  .back {
    display: flex;
  }

  .details {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    img {
      max-width: min(10rem, 40vw);
      height: auto;
    }

    .tagline {
      margin-top: 0;
      font-weight: bold;
    }
  }
</style>
